{
  "openapi": "3.1.0",
  "info": {
    "title": "MisarReach Actions",
    "description": "Find leads, enrich and score them, run multi-channel outreach, and manage the sales pipeline — from any AI assistant.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.misar.io/reach"
    }
  ],
  "paths": {
    "/mcp/tools/list_leads": {
      "post": {
        "operationId": "list_leads",
        "summary": "List saved leads for the authenticated user. Supports pagination and search by name, email, or company.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/search_leads": {
      "post": {
        "operationId": "search_leads",
        "summary": "Start an AI-powered lead search job. Returns a jobId immediately — poll get_search_job_status for results. Consumes search credits.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_search_job_status": {
      "post": {
        "operationId": "get_search_job_status",
        "summary": "Poll the status and results of a lead search job.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/submit_lead_feedback": {
      "post": {
        "operationId": "submit_lead_feedback",
        "summary": "Submit positive or negative feedback on an AI-generated lead message to improve future output quality.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/discover_companies": {
      "post": {
        "operationId": "discover_companies",
        "summary": "Discover companies matching criteria via Hunter.io. Optionally fetch contact emails for each company.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/enrich_lead": {
      "post": {
        "operationId": "enrich_lead",
        "summary": "Enrich a lead with person and company data (seniority, department, LinkedIn, phone, company size, industry). Consumes enrichment credits.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/verify_emails": {
      "post": {
        "operationId": "verify_emails",
        "summary": "Verify email deliverability for one or more email addresses. Consumes verification credits.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/score_leads": {
      "post": {
        "operationId": "score_leads",
        "summary": "Trigger on-demand AI scoring for all unscored leads in a job, or a specific set of lead IDs. Runs in background — returns immediately with count. Consumes AI credits.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/list_lead_lists": {
      "post": {
        "operationId": "list_lead_lists",
        "summary": "List Hunter.io lead lists associated with the account.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/create_lead_list": {
      "post": {
        "operationId": "create_lead_list",
        "summary": "Create a new Hunter.io lead list.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/sync_lead_list": {
      "post": {
        "operationId": "sync_lead_list",
        "summary": "Sync a Hunter.io lead list into local lead records.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/preview_message": {
      "post": {
        "operationId": "preview_message",
        "summary": "Generate a sample AI-personalised outreach message for a person. Public endpoint — no auth required.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/send_to_campaign": {
      "post": {
        "operationId": "send_to_campaign",
        "summary": "Bulk-import selected lead IDs into a campaign's contact list. Leads must belong to the authenticated user.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/list_deals": {
      "post": {
        "operationId": "list_deals",
        "summary": "List deals with optional status filter. Returns deals array plus revenue summary (total, closed, pipeline).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/create_deal": {
      "post": {
        "operationId": "create_deal",
        "summary": "Create a new deal linked to a lead email.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/update_deal": {
      "post": {
        "operationId": "update_deal",
        "summary": "Update a deal's status, value, or notes.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_pipeline": {
      "post": {
        "operationId": "get_pipeline",
        "summary": "Get the full sales pipeline board with deals grouped by stage (new, contacted, interested, meeting, proposal, closed, lost) plus revenue totals.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/move_deal_stage": {
      "post": {
        "operationId": "move_deal_stage",
        "summary": "Move a deal to a new pipeline stage (drag-and-drop equivalent).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/start_autopilot": {
      "post": {
        "operationId": "start_autopilot",
        "summary": "Start an AI autopilot run for outreach automation. Provide a goal and the agent runs fire-and-forget. Returns runId — poll get_autopilot_status for progress. Consumes autopilot credits.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/list_autopilot_runs": {
      "post": {
        "operationId": "list_autopilot_runs",
        "summary": "List past autopilot runs with their status and summary results.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_autopilot_status": {
      "post": {
        "operationId": "get_autopilot_status",
        "summary": "Get the current status and progress of a specific autopilot run.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_channels_status": {
      "post": {
        "operationId": "get_channels_status",
        "summary": "Get the status, configuration, and delivery stats for all outreach channels (WhatsApp, SMS, push notifications).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/update_channel": {
      "post": {
        "operationId": "update_channel",
        "summary": "Enable or disable a specific outreach channel (whatsapp, sms, or push).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_sales_agent_config": {
      "post": {
        "operationId": "get_sales_agent_config",
        "summary": "Fetch the current user's AI sales agent configuration.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/update_sales_agent_config": {
      "post": {
        "operationId": "update_sales_agent_config",
        "summary": "Update the AI sales agent configuration (enable/disable, cal link, offer price, reply limits, confidence threshold).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/get_sales_agent_actions": {
      "post": {
        "operationId": "get_sales_agent_actions",
        "summary": "Fetch today's AI sales agent actions and summary stats (total actions, deals closed, flagged for human review).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/mcp/tools/process_sales_agent": {
      "post": {
        "operationId": "process_sales_agent",
        "summary": "Run the AI sales agent pipeline on a conversation — decides the next action and optionally generates a reply. Logs the action to the agent activity feed.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "MisarReach API key (mrk_…) from https://reach.misar.io/settings/api-keys"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
